body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 75%;
    margin: auto;
}

.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
    appearance: textfield;
    -moz-appearance: textfield;
}

input {
    font-size: 20px;
}

input:not(:last-of-type) {
    border: 2px solid rgb(207, 203, 197);
    height: 40px;
    font-family: 'calibri', sans-serif;
}

input::placeholder {
    padding-left: 10px;
    color: rgb(207, 203, 197);
}

#add-player {
    border: none;
    background-color: rgb(233, 200, 156);
    height: 45px;
    width: 10rem;
    color: white;
    cursor: pointer;
}

.warning {
    color: red;
}

.player-details {
    /* border: 2px solid red; */
    margin: auto;
    margin-bottom: 10px;
    height: 4rem;
    width: 62.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    text-transform: uppercase;
    background-color: rgb(233, 200, 156, 0.6);
    transition: 0.5s linear;
}

.name-date {
    width: 13em;
    display: flex;
    flex-direction: column;
}

.date-added {
    font-size: 12px;
    color: rgb(117, 114, 114);
}

.player-country {
    width: 12em;
}

.player-score {
    width: 4em;
}

.inline-btn {
    display: flex;
    width: 10em;
    margin-left: 8em;
    margin-right: 5em;
    justify-content: space-around;
    font-weight: bold;
}

.sml-btn {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.delete-btn {
    color: red;
}